<div class="div" *ngIf="!posts">
	Loading...
</div>

<div class="container-fliud" *ngIf="posts">
	<h2>{{ title_page }}</h2>
	<hr />
	<div class="card-columns mt-3">
		<article class="card w-100" *ngFor="let post of posts">
			<div class="card-header">
				<a [routerLink]="['/entrada', post.id]">
					<h3>{{ post.title }}</h3>
				</a>
			</div>

			<div class="card-body">
				<!-- imagen del post -->
				<div class="post-image w-100" *ngIf="post.image">
					<img
						src="{{ url + 'post/image/' + post.image }}"
						alt="{{ post.image }}"
						class="w-100"
					/>
				</div>
				<div class="post-image w-100" *ngIf="!post.image">
					<img
						src="https://via.placeholder.com/400x250"
						class="w-100"
					/>
				</div>
				<!-- botones de accion -->
				<div
					class="post-buttons mt-3 d-flex flex-sm-column flex-md-row justify-content-around"
				>
					<button
						[routerLink]="['/entrada', post.id]"
						class="btn btn-success mb-sm-1"
					>
						Ver
					</button>

					<button
						[routerLink]="['/editar-entrada', post.id]"
						class="btn btn-warning mb-sm-1"
						*ngIf="identity && identity.sub == post.user_id"
					>
						Editar
					</button>

					<!-- Button trigger modal -->
					<button
						type="button"
						class="btn btn-danger mb-sm-1"
						data-toggle="modal"
						[attr.data-target]="'#deleteModal' + post.id"
						*ngIf="identity && identity.sub == post.user_id"
					>
						Borrar
					</button>

					<!-- Modal -->
					<div
						class="modal fade"
						id="deleteModal{{ post.id }}"
						tabindex="-1"
						role="dialog"
						aria-labelledby="deleteModalLabel"
						aria-hidden="true"
					>
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5
										class="modal-title"
										id="deleteModalLabel"
									>
										¿Estas seguro que deseas eliminar esta
										entrada?
									</h5>
									<button
										type="button"
										class="close"
										data-dismiss="modal"
										aria-label="Close"
									>
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									Estas a punto de eliminar a
									{{ post.title }}. No se podra recuperar la
									entrada.
								</div>
								<div class="modal-footer">
									<button
										(click)="deletePost(post.id)"
										class="btn btn-danger mb-sm-1"
										data-dismiss="modal"
									>
										Borrar
									</button>

									<button
										type="button"
										class="btn btn-secondary"
										data-dismiss="modal"
									>
										cerrar
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>
