/* You can add global styles to this file, and also import other style files */
.card-header a {
	color: #444;
}

.post-image {
	height: 200px;
	overflow: hidden;
}
.img-edit {
	width: 240px;
	display: block;
	margin-bottom: 1em;
	margin-top: 1em;
}
.img-mask {
	height: 48px;
	width: 48px;
	overflow: hidden;
	border-radius: 50%;
}

.img-mask-profile {
	height: 96px;
	width: 96px;
	overflow: hidden;
	border-radius: 50%;
}

.img-nav {
	height: 100%;
}

.img-edit {
	width: 240px;
	display: block;
	margin-bottom: 1em;
	margin-top: 1em;
}
